{% layout/layout.tpl %}
{{content
<h1>View paste</h1>
<div class="paste">
    ?$paste.Code
    <pre><code class="{$paste.Code}">{html:paste.Paste}</code></pre>
    @else@
    <pre>{html:paste.Paste}</pre>
    $paste.Code?
</div>
<div class="details">
    ?$paste.Code Code : {$paste.Code} $paste.Code?<br />
    <a href="{$paste.directLink}">View in raw text format</a><br />
    Posted on {$paste.Posted}
</div>
<div class="pasteLink">
    Link to this paste :<br />
    <a href="{$paste.link}">{$paste.link}</a>
</div>
<div class="new">
    <a href="{$layout.pasteNew}">Paste something new</a>
</div>
content}}
?$paste.Code 
{{head
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
head}}
$paste.Code?