﻿@import url(http://fonts.googleapis.com/css?family=Raleway);

body {
	font-family: 'Raleway', sans-serif;
	margin-left: 70px;
	margin-right: 70px;
	margin: 0;
}

a {
    color: inherit;
}

.pagenums .act {
    background-color: red;
}

.notification {
    background-color: #ddd;
    border: 2px solid #777;
    border-top: none;
    border-radius: 0 0 4px 4px;
    padding: 20px;
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
}

.notification.error {
    background-color: salmon;
}

.paste {
    background-color: #eee;
    padding: 40px;
    margin: auto;
    margin-bottom: 20px;
    width: 70%;
    border-radius: 5px;
}

.paste pre {
    font-family: monospace;
}

.paste form textarea {
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    font-family: monospace;
    resize: vertical;
    font-size: 18pt;
}

.paste form input[type=submit] {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    margin: 0;
    padding: 10px;
}

.paste form .field.select {
    display: flex;
}

.paste form .field.select label {
    width: auto;
}

.paste form .field.select select {
    width: 100%;
    flex: 1;
    font: inherit;
    font-size: 24pt;
    background: white;
    color: black;
}

.paste code.hljs {
    background-color: transparent;
}

h1, h2, h3, h4, h5, h5 {
    text-align: center;
}

.details, .pasteLink {
    margin: 20px;
    text-align: center;
}

.new {
    text-align: center;
}

.new a {
}